---
---
body {
  font-family: 'lato', sans-serif;
  font-size: 18px;
}
.navbar-brand .logoMPDSS{
  padding: 0 1rem;
  margin-bottom: 0!important;
}
.logoMPDSS {
  font-family: Fredoka One,cursive;
  font-size: 1.75rem!important;
  .m {
    color: #fc4868;
  }
  .p {
    color: #ff9e40;
  }
  .d {
    color: #ffe44d;
  }
  .s {
    color: #41d44a;
  }
  .s2 {
    color: #2e36c4;
  }
}
.navbar {
  border-bottom: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.bg-light {
  background-color: #FDFFF7!important;
}
.homepageHero {
  background-color: #FDFFF7;

  height: 60vh;
  width: 100%;
  .container,.row {
    height: 100%;
  }
  h3 {
    color: #1B1B1B;
    box-shadow: rgb(252, 72, 104) -0.5rem 0px 0px;
    line-height: 1;
    padding: 0.25em;
  }
}
.pageHero {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    display: block;
    color: white;
  }
  p {
    display: block;
    color: white;
  }
}
.menu {
  position: -webkit-sticky!important;
  position: sticky!important;
  top: 0;
  border-radius: .25rem;
  background-color: #fdfff7!important;
  color: black;
  a.nav-link {
    color: black;
  }
  a.nav-link:hover {
    color: #fc4868!important;
    background-color: rgba(0,0,0,.05);
    color: #000;
  }
}
.dropdown-toggle::after {
  border-top: none;
}
a {
  color: #fc4868;
}
a:hover {
  color: #fc4868;
  text-decoration: underline;
}
.form-control:focus {
  border-color: #fc4868;
}
.btn-primary {
  background-color: #fc4868;
  color: white;
  border: solid 2px #fc4868;
}
.btn {
  text-transform: none;
  font-size: 16px;
  letter-spacing: .1em;
}
.btn-primary:hover {
  background-color: white;
  color: #fc4868;
  border: solid 2px #fc4868;
}
.btn-rounded {
  border-radius: 50px;
  padding-right: 15px;
  padding-left: 15px;
}
.modal-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 38px;
  padding-left: 0;
}
