<section class="bg-gray-100 position-relative" id="featureSection">
  <div class="py-6 container">
    <div class="row">
      {% for direction in page.direction_section %}
      <div class="mb-5 mb-sm-0 col-12 col-sm-4">
        <div class="card text-center shadow">
          <div class="card-img-top">
            <div style="width:200px;display:inline-block;padding:10px">
              <img src="{{ site.cloudinary_url }}{{ direction.image.image }}" class="img-fluid" alt="{{ direction.image.image_alt }}">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ direction.title }}</h5>
            <p class="card-text">{{ direction.text_body }}</p>
            <a href="{{ direction.link.link }}" class="btn btn-primary">{{ direction.link.link_text }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
