<footer class="bg-dark">
  <div class="py-6 text-muted">
    <div class="container">
      <div class="row">
        <div class="pr-lg-5 pr-xl-6 mb-5 mb-lg-0 col-lg-5">
          {% include social-list.html %}
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 font-weight-light text-muted">
    <div class="container">
      <div class="align-items-center text-sm text-gray-500 row">
        <div class="text-center text-lg-left col-lg-4">
          <p class="mb-lg-0">Copyright © {{ site.title }} {{ site.time | date: "%Y" }}</p>
        </div>
        <div class="col-lg-8">
          <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-lg-right">
            <li class="list-inline-item"> <a class="text-reset" href="#">Terms &amp; Conditions </a></li>
            <li class="list-inline-item"> <a class="text-reset" href="#">Privacy &amp; cookies </a></li>
            <li class="list-inline-item"> <a class="text-reset" href="#">Accessibility </a></li>
            <li class="list-inline-item"> <a class="text-reset" href="#">Customer Data Promise </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
