<section>
  <div class="container py-6">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h2>{{page.latest_bikes_section.title}}</h2>
        <!-- body -->
        <a href="{{site.github.url}}{{ page.latest_bikes_section.cta.cta_link}}" class="btn btn-primary">{{ page.latest_bikes_section.cta.cta_lable }}</a>
      </div>
      {% for bike in page.latest_bikes_section.bikes %}
      <div class="col-sm-6 col-md-4">
        <div class="product aos-init aos-animate" data-aos="zoom-in" data-aos-delay="0">
          <div class="product-image mb-md-3">
            <a href="/tops-blouses/white-tee">
              <div class="product-swap-image">
                <img class="img-fluid product-swap-image-front" src="{{site.cloudinary_url}}/c_thumb,g_center,h_1154,w_900{{ bike.bike_image_1.image }}" alt="{{ bike.bike_image_1.image_alt }}">
                <img class="img-fluid" src="{{site.cloudinary_url}}/c_thumb,g_center,h_1154,w_900{{ bike.bike_image_2.image }}" alt="{{ bike.bike_image_2.image_alt }}"></div>
            </a>
            <div class="product-hover-overlay"><a class="text-dark text-sm" href="#"><svg class="svg-icon text-hover-primary svg-icon-heavy d-sm-none">
                  <use xlink:href="#retail-bag-1"></use>
                </svg><span class="d-none d-sm-inline">View Bike</span></a>
              <div><a class="text-dark text-hover-primary mr-2" href="#"><svg class="svg-icon svg-icon-heavy">
                    <use xlink:href="#heart-1"></use>
                  </svg></a><a class="text-dark text-hover-primary text-decoration-none" style="cursor: pointer;"><svg class="svg-icon svg-icon-heavy">
                    <use xlink:href="#expand-1"></use>
                  </svg></a></div>
            </div>
          </div>
          <div class="position-relative">
            <h3 class="text-base mb-1"><a class="text-dark" href="/tops-blouses/white-tee">{{ bike.bike_name }}</a></h3><span class="text-gray-500 text-sm">{{ bike.bike_from_price }}</span>
            <div class="product-stars text-xs"><i class="fa fa-star text-primary "></i><i class="fa fa-star text-primary "></i><i class="fa fa-star text-primary "></i><i class="fa fa-star text-muted "></i><i class="fa fa-star text-muted "></i></div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
