<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{ page.mission_section.title }}</h2>
        <p>{{ page.mission_section.intro_text | markdownify }}</p>
      </div>
    </div>

    <div class="row">
      {% for card in page.mission_section.mission_cards %}
      <div class="col-12 col-sm-6">
        <div class="card shadow-none">
          <img src="{{ site.cloudinary_url }}{{card.card_image.image}}" class="card-img-top" alt="{{card.card_image.image_alt}}">
          <div class="card-body">
            <p class="card-text">{{ card.card_text | markdownify }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
