<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span class="title-a">NORTH</span><span class="title-b">ROAD</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for item in site.menus.header %}
          <li class="nav-item menu-item-{{ loop.index }}">
            <a class="nav-link active" href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
          </li>
        {% endfor %}
        
      </ul>
    </div>
  </div>
</nav>
