<div id="mc_embed_signup">
  <form action="https://gmail.us20.list-manage.com/subscribe/post?u=a524339595f42cd2555d636c7&amp;id=9aed4f5132" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h5>Join the MPDSS Newsletter</h5>
      <input type="text" class="d-none" name="b_a524339595f42cd2555d636c7_9aed4f5132" tabindex="-1" value="">
    <div class="input-group mb-3">
      <input type="email" value="" name="EMAIL" class="email form-control h-auto" id="mce-EMAIL" placeholder="Email Address" required aria-label="Email Address" aria-describedby="mc-embedded-subscribe">
      <input class="btn btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
    </div>
  </form>
</div>
