<ul class="list-inline mb-0 d-none d-lg-block">
  <li class="list-inline-item mr-3"><a class="text-light text-hover-primary" target="_blank" href="{{ site.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
  <li class="list-inline-item mr-3"><a class="text-light text-hover-primary position-relative" target="_blank" href="{{ site.twitter }}"><i class="fab fa-twitter"></i></a></li>
  <li class="list-inline-item position-relative mr-3"><a class="text-light text-hover-primary" target="_blank" href="{{ site.instagram }}"><i class="fab fa-instagram"></i></a></li>
</ul>
