<div class="container">
  <div class="hero-content pb-5">
    <h2 class="display-2 font-weight-bold mb-4 mb-lg-5">Gravel Bikes</h2>
    <div class="row">
      <div class="col-xl-8">
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
    </div>
  </div>

  <div class="row">
    {% for bike in site.gravel %}
    <div class="col-6 col-md-4">
      <div style="margin-top:50px">
        <div style="display:flex;flex-direction:row;justify-content:center;align-content:stretch;box-sizing:border-box;width:100%">
          <div style="display:flex;flex-direction:column;justify-content:flex-start;align-content:stretch;flex:1;width:0">
            <div>
              <div style="margin-top:-30px">
                <div class="product aos-init aos-animate" data-aos="zoom-in" data-aos-delay="0">
                  <div class="product-image mb-md-3"><a href="{{ bike.url }}"><img class="img-fluid" src="{{ site.cloudinary_url }}/c_thumb,g_center,h_300,w_500{{ bike.image_gallery[0] }}" alt="{{bike.name}}"></a>
                    <div class="product-hover-overlay"><a class="text-dark text-sm" href="{{ bike.url }}"><svg class="svg-icon text-hover-primary svg-icon-heavy d-sm-none">
                          <use xlink:href="#retail-bag-1"></use>
                        </svg><span class="d-none d-sm-inline">View {{ bike.name }}</span></a>
                      <div><a class="text-dark text-hover-primary mr-2" href="#"><svg class="svg-icon svg-icon-heavy">
                            <use xlink:href="#heart-1"></use>
                          </svg></a><a class="text-dark text-hover-primary text-decoration-none" style="cursor:pointer"><svg class="svg-icon svg-icon-heavy">
                            <use xlink:href="#expand-1"></use>
                          </svg></a></div>
                    </div>
                  </div>
                  <div class="position-relative">
                    <h3 class="text-base mb-1"><a class="text-dark" href="{{ bike.url }}">{{ bike.name }}</a></h3><span class="text-gray-500 text-sm">From: {{ bike.price }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
