<section id="{{ section.title | slugify }}" class="my-5">
  <h2>{{ section.title }}</h2>
  <p>{{ section.intro_text | markdownify }}</p>
  <div class="row justify-content-around">
    {% for card in section.cards %}
      <div class="col-md-3 mb-3">
        <div class="card">
          <img src="{{ site.cloudinary_url }}/c_fill,g_face,h_616,w_616{{ card.card_image.image }}" class="card-img-top" alt="{{ card.card_image.image_alt }}">
          <div class="card-body">
            <h5 class="card-title">{{ card.card_title }}</h5>
            <p class="card-text">{{ card.card_text }}</p>
            <a href="#" class="btn btn-primary btn-rounded">Go somewhere</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</section>
