---
layout: default
---
{% include pageHero.html %}

{% if page.page_intro %}
  <section class="container my-5">
    <div class="row">
      <p>{{ page.page_intro | markdownify }}</p>
    </div>
  </section>
  {% endif %}
<section class="container my-5">
  <div class="row">
    {% for post in site.categories.Podcasts reversed %}
    <div class="col-md-3 mt-4">
      <div class="card h-100">
        <img src="{{ site.cloudinary_url }}/c_fill,h_616,w_616{{ post.podcast_image.image }}" class="card-img-top" alt="{{ post.podcast_image.image_alt }}">
        <div class="card-body">
          <h5 class="card-title">{{ post.name }}</h5>
          <p class="card-text">{{ post.podcast_description | truncatewords: 8 }}</p>
          <a href="{{ site.github.url }}{{ post.url }}" class="btn btn-primary btn-rounded">View Episode {{post.episode_number}}</a>
        </div>
      </div>
    </div>
    {% endfor %}
</section>
