---
layout: default
---

<section class="container my-5">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <iframe src="https://anchor.fm/mpdss7/embed/episodes{{ page.podcast_url }}" class="podcast-iframe" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-xs-12 col-md-8">
      <h1>{{ page.name }}</h1>
      <p>{{ page.podcast_description | markdownify }}</p>
      <a href="https://anchor.fm/mpdss7/episodes{{ page.podcast_url }}" target="_blank" class="btn btn-primary">Listen to episode</a>
    </div>
  </div>
</section>
